body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,16,139,1) 55%, rgba(0,212,255,1) 150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: cursive;
}

input{
    margin-bottom: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid rgb(6, 3, 53);
    border-radius: 10px;
    color: #eee;
}

input:focus{
    outline: none;
}

.card{
    background-color: rgb(6, 3, 53);
    color: #eee;
    display: flex;
    padding: 30px;
    box-shadow: rgba(182, 170, 206, 0.15) 0px 48px 100px 0px;    
    border-radius: 20px;
    max-width: 800px;
}

.avatar{
    height: 100px;
    width: 100px;
    border: 10px solid rgb(2, 4, 63);
    border-radius: 50%;
    box-shadow: rgba(65, 66, 82, 0.35) 0px 5px 15px;
}

.user-info{
    margin-left: 2rem;
}

.user-info h2{
    margin-top: 0;
    margin-bottom: 0;
}

.user-info ul{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.repo{
    background-color: rgba(11,16,139,1);
    display: inline-block;
    color: white;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 0.6rem;
}


